@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
}

/* Navigation Bar  */
.navBar {
  background: #c7deee;
  padding-top: 40px;
}
.navBar .container .navbarBrand {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #0c84dc;
}
.navLinksContainer {
  align-items: center;
}
.navLinksContainer .navLinks {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #2e2e2e !important;
  margin-right: 50px;
}
.navBtn {
  background: #0c84dc;
  border-radius: 100px;
  padding: 14px 33px;
  text-align: center;
  color: white;
  border: none;
}

/* Intro Section */
.intro {
  background: #c7deee;
  height: 732px;
}

.row .content .introHeading {
  margin-top: 176px;
  width: 475px;
  height: 240px;
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  color: #2e2e2e;
}
.row .content .introInfo {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #2e2e2e;
  width: 500px;
  margin-top: 43px;
}
.introBtns {
  margin-top: 64px;
}
.googleBtn,
.playStoreBtn {
  border-radius: 6.37569px;
  border: none;
}
.googleBtn {
  margin-right: 27px;
}
.googleBtn img,
.playStoreBtn img {
  width: 190px;
  height: 50px;
}
.intoImagesContainer {
  position: relative;
  left: 30px;
}
.intoImagesContainer img {
  width: 230px;
  height: 500px;
}
.intoImagesContainer .callDoctor {
  position: absolute;
  top: 120px;
  left: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: rotate(-8.13deg);
  z-index: 15;
}
.intoImagesContainer .doctors {
  position: absolute;
  top: 53px;
  left: 158px;
  z-index: 10;
}

.intoImagesContainer .profile {
  position: absolute;
  right: 92px;
  top: 87.22px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: rotate(-0.15deg);
  z-index: 15;
}

/* Why Section */

.whyContainer {
  position: relative;
  margin: 40px auto;
}
.whyImagesContainer {
  display: flex;
  align-items: center;
}
.whyImagesContainer img {
  width: 244.64px;
  height: 531.82px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.whyImagesContainer .whyCall {
  transform: rotate(-0.05deg);
}
.whyImagesContainer .docProfile {
  transform: rotate(2.21deg);
  position: absolute;
  left: 164px;
  top: 82px;
}
.whyContentsContainer {
  display: flex;
  justify-content: center;
}
.whyContents .whyHeader {
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  color: #2e2e2e;
}
.whyContents .whyAnswer {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #737373;
  width: 490px;
}
.whyReasons {
  margin-top: 68px;
}
.Reason {
  margin-bottom: 27px;
}
.Reason .whyPoint {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #2e2e2e;
}
.Reason .whyPointExplanation {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #737373;
  width: 450px;
}
/* How to use APP Section */
.how {
  margin: 90px auto;
}

.howCol {
  display: flex;
  justify-content: center;
  text-align: center;
}
.howInfoContainer .howInfoTitle {
  font-weight: 800;
  font-size: 45px;
  line-height: 68px;
  color: #2e2e2e;
}
.howInfoContainer .howInfoContent {
  font-weight: 400;
  font-size: 18px;
  line-height: 170.69%;
  color: #737373;
}
.cardRow {
  margin-top: 84px;
}

.howCardIcon {
  width: 104px;
  height: 104px;
  margin-bottom: 46px;
}
.howCard .howCardTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #2e2e2e;
}
.howCard .howCardContent {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #737373;
  width: 246px;
}

/* Reminder Section */
.reminder {
  background: #0c84dc;
}
/* .reminderContainer {
  padding-top: 84px;
  padding-bottom: 84px;
} */
.reminderContainer .row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 84px;
  padding-bottom: 84px;
}
.reminderImage {
  display: flex;
  justify-content: center;
}
.reminderImage .vaccineReminder {
  width: 230px;
  height: 500px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  /* transform: rotate(-8.61deg); */
}

.vaccineReminderContent .vaccineReminderTitle {
  font-weight: 800;
  font-size: 45px;
  line-height: 68px;
  color: #ffffff;
}
.vaccineReminderContent .vaccineReminderDesc {
  font-weight: 400;
  font-size: 18px;
  line-height: 170.69%;
  color: #ffffff;
  margin-top: 30px;
}

.reminderImage .medicationReminder {
  width: 230px;
  height: 500px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
