@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
}

/* Navigation Bar  */
.navBar {
  background: #c7deee;
  padding: 20px 0;
}
.navBar .container .navbarBrand {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #0c84dc;
}
.navLinksContainer {
  align-items: center;
}
.navLinksContainer .navLinks {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #2e2e2e !important;
  margin-right: 50px;
}
.navBtn {
  background: #0c84dc;
  border-radius: 100px;
  padding: 14px 33px;
  text-align: center;
  color: white;
  border: none;
}
@media only screen and (max-width: 900px) {
  .navLinksContainer .navLinks {
    font-weight: 400;
    font-size: 15px;
  }
  .navBtn {
    border-radius: 100px;
    padding: 5px 25px;
    font-size: 15px;
    margin-top: 10px;
    align-self: center;
  }
  .navLinksContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navLinksContainer .navLinks {
    margin-right: 0;
  }
}
/* Intro Section */
.introContainer {
  background: #c7deee;
}
.intro {
  height: 90vh;
  background-image: url("../images/introBg.png");
  background-size: 90%;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  position: relative;

  align-items: center;
  padding-left: 190px;
}

@media only screen and (max-width: 1650px) {
  .intro {
    height: 93vh;
    padding-left: 153px;
  }
}
@media only screen and (max-width: 1500px) {
  .intro {
    height: 93vh;
    padding-left: 87px;
  }
}
@media only screen and (max-width: 1400px) {
  .intro {
    height: 79vh;
    padding-left: 10%;
  }
}
@media only screen and (max-width: 1250px) {
  .intro {
    padding-left: 50px;
  }
}
@media only screen and (max-width: 1200px) {
  .intro {
    background-image: none;
    display: flex;
    width: 80%;
  }
}
@media only screen and (max-width: 600px) {
  .intro {
    background-image: none;
    display: flex;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 10px;
    padding-left: 10px;
  }
}
.introContent .introHeading {
  width: 475px;
  height: 240px;
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  color: #2e2e2e;
}
@media only screen and (max-width: 1200px) {
  .introContent .introHeading {
    width: 610px;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 600px) {
  .introContent .introHeading {
    width: 100%;
    font-weight: 600;
    font-size: 30px;
  }
}
.introContent .introInfo {
  font-weight: 400;
  font-size: 18px;
  color: #2e2e2e;
  width: 500px;
  margin-top: 43px;
}
@media only screen and (max-width: 1200px) {
  .introContent .introInfo {
    width: 570px;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .introContent .introInfo {
    width: 100%;
  }
}
.introBtns {
  margin-top: 64px;
}
@media only screen and (max-width: 600px) {
  .introBtns {
    margin-top: 20px;
  }
}
.googleBtn,
.playStoreBtn {
  border-radius: 6.37569px;
  border: none;
}
@media only screen and (max-width: 600px) {
  .googleBtn {
    margin-bottom: 15px;
  }
}
.googleBtn {
  margin-right: 27px;
}
.googleBtn img,
.playStoreBtn img {
  width: 190px;
  height: 50px;
}
.intoImagesContainer {
  position: relative;
  left: 30px;
}

.intoImagesContainer .callDoctor {
  position: absolute;
  top: 189px;
  left: -29px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: rotate(-2.13deg);
  z-index: 15;
  height: 400px;
  width: 232px;
}
.intoImagesContainer .doctors {
  position: absolute;
  top: 94px;
  left: 158px;
  z-index: 10;
  width: 230px;
  height: 465px;
}

.intoImagesContainer .profile {
  position: absolute;
  right: 68px;
  top: 179.22px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: rotate(-0.15deg);
  z-index: 15;
  height: 400px;
  width: 232px;
}

/* Why Section */
.why {
  background: #dee7ee;
}
.whyContainer {
  position: relative;
  padding: 40px;
}
@media only screen and (max-width: 1200px) {
  .whyContainer {
    padding: 50px 10px;
  }
  .whyImagesContainer .docProfile {
    display: none;
  }
}
.whyImagesContainer {
  display: flex;
  align-items: center;
}
.whyImagesContainer img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.whyImagesContainer .whyCall {
  width: 244.64px;
  height: 531.82px;
  transform: rotate(-0.05deg);
}
.whyImagesContainer .docProfile {
  transform: rotate(-1.79deg);
  position: absolute;
  left: 215px;
  top: 131px;
  width: 244.64px;
  height: 439.82px;
}
@media only screen and (max-width: 990px) {
  .whyImagesContainer .docProfile,
  .whyImagesContainer .whyCall {
    display: none;
  }
}

.whyContentsContainer {
  display: flex;
  justify-content: center;
}
.whyContents .whyHeader {
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  color: #2e2e2e;
}
@media only screen and (max-width: 600px) {
  .whyContents .whyHeader {
    font-size: 35px;
  }
}
.whyContents .whyAnswer {
  font-weight: 400;
  font-size: 18px;
  color: #737373;
}
.whyReasons {
  margin-top: 68px;
}
.Reason {
  margin-bottom: 27px;
}
.Reason .whyPoint {
  font-weight: 600;
  font-size: 20px;
  color: #2e2e2e;
}
.Reason .whyPointExplanation {
  font-weight: 400;
  color: #737373;
  font-size: 18px;
}
/* How to use APP Section */
.how {
  margin: 90px auto;
}

.howCol {
  display: flex;
  justify-content: center;
  text-align: center;
}
.howInfoContainer .howInfoTitle {
  font-weight: 800;
  font-size: 45px;
  color: #2e2e2e;
}
@media only screen and (max-width: 600px) {
  .howInfoContainer .howInfoTitle {
    font-size: 35px;
  }
}
.howInfoContainer .howInfoContent {
  font-weight: 400;
  font-size: 18px;
  line-height: 170.69%;
  color: #737373;
}
@media only screen and (max-width: 600px) {
  .howInfoContainer .howInfoContent {
    font-size: 15px;
  }
}
.cardRow {
  margin-top: 84px;
}

.howCardIcon {
  width: 104px;
  height: 104px;
  margin-bottom: 46px;
}
.howCard .howCardTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #2e2e2e;
}
.howCard .howCardContent {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #737373;
  width: 246px;
}
@media only screen and (max-width: 600px) {
  .howCard .howCardContent {
    font-size: 14px;
  }
}
@media only screen and (max-width: 990px) {
  .cardRow {
    display: flex;
    justify-content: center;
  }
  .howCard .howCardContent {
    width: auto;
    margin-bottom: 25px;
  }
}
/* Reminder Section */
.reminder {
  background: #0c84dc;
  position: relative;
}
.wavySvg {
  margin-bottom: -2px;
  width: 100%;
}
/* .reminderContainer {
  padding-top: 84px;
  padding-bottom: 84px;
} */
.reminderContainer .row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

.reminderImage {
  display: flex;
  justify-content: center;
}
.reminderImage .vaccineReminder {
  width: 235px;
  height: 400px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.vaccineReminderContent .vaccineReminderTitle {
  font-weight: 800;
  font-size: 45px;
  line-height: 68px;
  color: #ffffff;
}
@media only screen and (max-width: 600px) {
  .vaccineReminderContent .vaccineReminderTitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 29px;
  }
}
.vaccineReminderContent .vaccineReminderDesc {
  font-weight: 400;
  font-size: 18px;
  line-height: 170.69%;
  color: #ffffff;
  margin-top: 30px;
}

.reminderImage .medicationReminder {
  width: 235px;
  height: 400px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media only screen and (max-width: 600px) {
  .reminderImage .vaccineReminder {
    display: none;
  }
  .reminderImage .medicationReminder {
    display: none;
  }
}
/* Brands Section */
.brands {
  height: 200px;
  display: flex;
  align-items: center;
}

.leadwayHealth {
  width: 244px;
  height: 73.36px;
}
.NHIS {
  width: 222px;
  height: 126.86px;
}
.hmoReliance {
  width: 248.62px;
  height: 64px;
}
.mansardHealth {
  width: 255px;
  height: 87px;
}
.HygeiaHealth {
  width: 215px;
  height: 86px;
}
.brandsContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (max-width: 1200px) {
  .leadwayHealth {
    width: 141.85px;
    height: 42.65px;
  }
  .NHIS {
    width: 129.06px;
    height: 73.75px;
  }
  .hmoReliance {
    width: 144.53px;
    height: 37.21px;
  }
  .mansardHealth {
    width: 148.24px;
    height: 50.58px;
  }
  .HygeiaHealth {
    width: 124.99px;
    height: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .brands {
    display: none;
  }
}

/* Features Section */
.features {
  background: #0c84dc;
  padding: 15px;
}
.featuresContainer {
  /* display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; */
  text-align: center;
  padding-top: 80px;
}
.featuresContent {
  width: 675px;
  height: 151px;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  .featuresContent {
    width: auto;
  }
}
.featuresContent .featuresHeader {
  font-weight: 800;
  font-size: 45px;
  line-height: 68px;
  color: #ffffff;
}

.featuresContent .featuresDesc {
  font-weight: 400;
  font-size: 18px;
  line-height: 170.69%;
  text-align: center;
  color: #ffffff;
}
.specialFeatures .specialFeaturesCol {
  margin-top: 82px;
}
.specialFeatures .specialFeaturesCol .featureCardImg {
  width: 134px;
  margin: auto;
  display: block;
}
.specialFeatures .specialFeaturesCol .featureCardTitle {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 170.69%;
  text-align: center;
  color: #ffffff;
  margin: 20px auto;
}

.specialFeatures .specialFeaturesCol .featureCardDesc {
  font-weight: 400;
  font-size: 18px;
  line-height: 170.69%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}
.specialFeatures .specialFeaturesCol .featureCardLabel {
  font-weight: 400;
  font-size: 18px;
  line-height: 170.69%;
  text-align: center;
  text-decoration-line: underline;
  color: #2e2e2e;
  display: block;
}
@media only screen and (max-width: 600px) {
  .featuresContent .featuresHeader {
    font-size: 35px;
  }
  .featuresContent .featuresDesc {
    font-size: 15px;
  }
}

/* Doctors On Call  */
.doctorsOnCallContainer {
  margin-bottom: 110px;
}
.doctorsOnCallContainer .onCallDesc {
  margin-top: 112px;
  text-align: center;
}
.onCallDesc .onCallDesTitle {
  font-weight: 800;
  font-size: 40px;
  line-height: 170.69%;
  text-align: center;
  color: #2e2e2e;
}
.onCallDesc .onCallDescContent {
  font-weight: 400;
  font-size: 18px;
  line-height: 170.69%;
  text-align: center;
  color: #737373;
}
.doctorsOnCallContainer .row {
  margin-top: 88px;
}
.infoCol .department {
  margin-bottom: 40px;
}
.infoCol .department .departmentName {
  font-weight: 600;
  font-size: 18px;
  line-height: 170.69%;
  color: #2e2e2e;
}
.infoCol .department .departmentDesc {
  font-weight: 400;
  font-size: 18px;
  line-height: 124.69%;
  color: #737373;
}
.onCallImage .welcomeImg,
.onCallImage .doctorsOncall {
  position: relative;
  width: 230px;
  height: 450px;
  top: 43px;
  left: 200px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 35;
}

.onCallImage .doctorsOncall {
  transform: rotate(2.03deg);
  top: 93px;
  left: 169px;
  z-index: 20;
  width: 235px;
  height: 400px;
}

.onCallInstruction {
  text-align: center;
}

.onCallInstruction label {
  font-weight: 400;
  font-size: 18px;
  line-height: 170.69%;
  text-align: center;
  color: #2e2e2e;
  margin-right: 19px;
}

.onCallInstruction button {
  padding: 4px 15px;
  background-color: #328ccc;
  border: none;
  border-radius: 15px;
  color: white;
}
@media only screen and (max-width: 992px) {
  .onCallImage img {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .onCallDesc .onCallDesTitle {
    font-size: 30px;
  }
  .doctorsOnCallContainer .row {
    margin-top: 15px;
  }
  .infoCol .department .departmentDesc {
    font-size: 15px;
  }
  .onCallInstruction {
    text-align: left;
  }
  .onCallInstruction label {
    font-size: 15px;
    text-align: left;
  }
}
/* Review Container */
.review {
  height: 597px;
  background: #0c84dc;
}
.reviewContainer .reviewContent {
  text-align: center;
  padding-top: 58px;
}
.reviewContainer .reviewContent .reviewTitle {
  font-weight: 800;
  font-size: 40px;
  line-height: 170.69%;
  color: #ffffff;
}
.reviewContainer .reviewContent .reviewDesc {
  width: 670px;
  margin: auto;
  font-weight: 400;
  font-size: 14.287px;
  line-height: 170.69%;
  color: #ffffff;
}
@media only screen and (max-width: 600px) {
  .review {
    height: max-content;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .reviewContainer .reviewContent .reviewTitle {
    font-weight: 700;
    font-size: 30px;
    line-height: 119%;
  }
  .reviewContainer .reviewContent .reviewDesc {
    width: 100%;
    font-size: 13px;
  }
}
/* Reviewers Swipper  */
.swiper {
  width: 531px;
  height: 250.02px;
  background: #ffffff;
  border-radius: 20px;
  margin-top: 81px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviewContainer .reviwersProfileContainer {
  display: flex;
}

.reviwersProfileContainer .ReviewersImg {
  width: 70px;
  height: 70px;
}
.reviwersProfileContainer .reviewersProfile {
  margin-left: 23.8px;
}
.reviewersProfile .reviewersName {
  font-weight: 500;
  font-size: 15.8744px;
  line-height: 170.69%;
  text-align: center;
  color: #2e2e2e;
}
.reviewersProfile .reviewersPosition {
  font-weight: 400;
  font-size: 14.287px;
  line-height: 170.69%;
  text-align: center;
  color: #737373;
}
.reviewContainer .reviews {
  font-weight: 400;
  font-size: 14.287px;
  line-height: 170.69%;
  color: #737373;
  width: 403px;
  height: 98px;
  text-align: left;
  margin-top: 19.38px;
}
@media only screen and (max-width: 600px) {
  .swiper {
    width: 100%;
    height: 300px;
  }
  .reviwersProfileContainer .ReviewersImg {
    width: 50px;
    height: 50px;
    margin-left: 45px;
  }
  .reviewContainer .reviews {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    padding: 0 60px;
  }
}

/* Faq Section */
.faqContent {
  margin-top: 100px;
}
.faqContent .faqContentContainer .faqHeader {
  font-weight: 800;
  font-size: 40px;
  line-height: 170.69%;
  color: #2e2e2e;
}
.faqContentContainer .faqCollapse {
  margin-top: 33px;
  margin-bottom: 80.34px;
}

.faqCollapse .ant-collapse {
  background: none;
  border: none;
}
.faqCollapse .ant-collapse .ant-collapse-item {
  background: #ffffff;
  box-shadow: 0px 3.59137px 35.9137px rgba(0, 0, 0, 0.1);
  border-radius: 9.9568px;
  margin-bottom: 15px;
}

.ant-collapse-item .ant-collapse-header .ant-collapse-header-text {
  font-weight: 600;
  font-size: 15.9568px;
  line-height: 170.69%;
  color: #2e2e2e;
}
.ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-arrow
  svg {
  transition: transform 0.24s;
  color: blue;
  transform: rotate(-90deg);
}
.ant-collapse-item .ant-collapse-content {
  font-weight: 400;
  font-size: 16.1611px;
  line-height: 170.69%;
  color: #737373;
  background-color: #fff;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.faqImageContainer {
  position: relative;
  height: 640px;
  width: 640px;
  padding-top: 40px;
}
.faqImageContainer .faqFloorImage {
  position: relative;
  top: 261px;
  left: 43px;
}
.faqImageContainer .femaleFaq {
  position: absolute;
  left: 64px;
  top: 120px;
}
.faqImageContainer .faqQuestionImage {
  position: absolute;
  left: 255px;
  top: 80px;
}
.faqImageContainer .maleFaq {
  position: absolute;
  right: 21px;
  top: 120px;
}
@media only screen and (max-width: 600px) {
  .faqImageContainer .faqFloorImage {
    display: none;
  }
  .faqImageContainer .femaleFaq {
    display: none;
  }
  .faqImageContainer .maleFaq {
    display: none;
  }
  .faqImageContainer .faqQuestionImage {
    display: none;
  }
  .faqImageContainer {
    display: none;
  }
}
/* Footer section */
footer {
  height: 415px;
  background: #0c84dc;
}

footer .footerContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 94px;
  position: relative;
}
.footerContainer div h5 {
  font-weight: 600;
  font-size: 25px;
  line-height: 194.69%;
  color: #ffffff;
}
.aboutUsCol ul,
.supportCol ul {
  padding-top: 5px;
  padding-left: 0;
}
.aboutUsCol ul li,
.supportCol ul li {
  list-style-type: none;
}
.aboutUsCol ul li a,
.supportCol ul li a {
  font-size: 15px;
  color: white;
  font-weight: 500;
  padding-bottom: 5px;
}
.socialContainer {
  display: flex;
}

.socialContainer .instagram,
.socialContainer .linkedin,
.socialContainer .twitter {
  background: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}
.downloadCol .download {
  display: flex;
  justify-content: space-between;
}
.download button {
  margin-right: 27px;
  overflow: hidden;
  border-radius: 6.4px;
  border: none;
}
.download button img {
  width: 190px;
  height: 50px;
}

@media only screen and (max-width: 990px) {
  .footerContainer div h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 14.8193px;
  }
  .download button img {
    width: 114.26px;
    height: 29.64px;
  }
}
@media only screen and (max-width: 768px) {
  .download button {
    display: block;
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 600px) {
  footer {
    height: auto;
    padding: 20px 0;
  }
  footer .footerContainer {
    display: flex;
    flex-direction: column;
  }
  .downloadCol {
    order: -1;
  }
  footer .footerContainer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
