@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
}

/* Navigation Bar  */
.navBar {
  background: #c7deee;
  padding: 20px 0;
}
.navBar .container .navbarBrand {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #0c84dc;
}
.navLinksContainer {
  align-items: center;
}
.navLinksContainer .navLinks {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #2e2e2e !important;
  margin-right: 50px;
}
.navBtn {
  background: #0c84dc;
  border-radius: 100px;
  padding: 14px 33px;
  text-align: center;
  color: white;
  border: none;
}

/* Intro Section */
.intro {
  background: #c7deee;
  height: 732px;
}

.row .content .introHeading {
  margin-top: 176px;
  width: 475px;
  height: 240px;
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  color: #2e2e2e;
}
.row .content .introInfo {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #2e2e2e;
  width: 500px;
  margin-top: 43px;
}
.introBtns {
  margin-top: 64px;
}
.googleBtn,
.playStoreBtn {
  border-radius: 6.37569px;
  border: none;
}
.googleBtn {
  margin-right: 27px;
}
.googleBtn img,
.playStoreBtn img {
  width: 190px;
  height: 50px;
}
.intoImagesContainer {
  position: relative;
  left: 30px;
}

.intoImagesContainer .callDoctor {
  position: absolute;
  top: 189px;
  left: -29px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: rotate(-2.13deg);
  z-index: 15;
  height: 400px;
  width: 232px;
}
.intoImagesContainer .doctors {
  position: absolute;
  top: 94px;
  left: 158px;
  z-index: 10;
  width: 230px;
  height: 465px;
}

.intoImagesContainer .profile {
  position: absolute;
  right: 68px;
  top: 179.22px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: rotate(-0.15deg);
  z-index: 15;
  height: 400px;
  width: 232px;
}

/* Why Section */

.whyContainer {
  position: relative;
  margin: 40px auto;
}
.whyImagesContainer {
  display: flex;
  align-items: center;
}
.whyImagesContainer img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.whyImagesContainer .whyCall {
  width: 244.64px;
  height: 531.82px;
  transform: rotate(-0.05deg);
}
.whyImagesContainer .docProfile {
  transform: rotate(-1.79deg);
  position: absolute;
  left: 215px;
  top: 131px;
  width: 244.64px;
  height: 439.82px;
}
.whyContentsContainer {
  display: flex;
  justify-content: center;
}
.whyContents .whyHeader {
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  color: #2e2e2e;
}
.whyContents .whyAnswer {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #737373;
  width: 490px;
}
.whyReasons {
  margin-top: 68px;
}
.Reason {
  margin-bottom: 27px;
}
.Reason .whyPoint {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #2e2e2e;
}
.Reason .whyPointExplanation {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #737373;
  width: 450px;
}
/* How to use APP Section */
.how {
  margin: 90px auto;
}

.howCol {
  display: flex;
  justify-content: center;
  text-align: center;
}
.howInfoContainer .howInfoTitle {
  font-weight: 800;
  font-size: 45px;
  line-height: 68px;
  color: #2e2e2e;
}
.howInfoContainer .howInfoContent {
  font-weight: 400;
  font-size: 18px;
  line-height: 170.69%;
  color: #737373;
}
.cardRow {
  margin-top: 84px;
}

.howCardIcon {
  width: 104px;
  height: 104px;
  margin-bottom: 46px;
}
.howCard .howCardTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #2e2e2e;
}
.howCard .howCardContent {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #737373;
  width: 246px;
}

/* Reminder Section */
.reminder {
  background: #0c84dc;
}
/* .reminderContainer {
  padding-top: 84px;
  padding-bottom: 84px;
} */
.reminderContainer .row.vaccineRow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 0px;
}
.reminderContainer .row.medicationRow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.reminderImage {
  display: flex;
  justify-content: center;
}
.reminderImage .vaccineReminder {
  width: 235px;
  height: 400px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.vaccineReminderContent .vaccineReminderTitle {
  font-weight: 800;
  font-size: 45px;
  line-height: 68px;
  color: #ffffff;
}
.vaccineReminderContent .vaccineReminderDesc {
  font-weight: 400;
  font-size: 18px;
  line-height: 170.69%;
  color: #ffffff;
  margin-top: 30px;
}

.reminderImage .medicationReminder {
  width: 235px;
  height: 400px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Brands Section */
.brands {
  height: 200px;
  display: flex;
  align-items: center;
}
.leadwayHealth {
  width: 244px;
  height: 73.36px;
}
.NHIS {
  width: 222px;
  height: 126.86px;
}
.hmoReliance {
  width: 248.62px;
  height: 64px;
}
.mansardHealth {
  width: 255px;
  height: 87px;
}
.HygeiaHealth {
  width: 215px;
  height: 86px;
}
.brandsContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Features Section */
.features {
  background: #0c84dc;
  height: 740px;
}
.featuresContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.featuresContent {
  width: 675px;
  height: 151px;
  margin-top: 35px;
}
.featuresContent .featuresHeader {
  font-weight: 800;
  font-size: 45px;
  line-height: 68px;
  color: #ffffff;
}
.featuresContent .featuresDesc {
  font-weight: 400;
  font-size: 18px;
  line-height: 170.69%;
  text-align: center;
  color: #ffffff;
}
.specialFeatures .specialFeaturesCol {
  margin-top: 82px;
}
.specialFeatures .specialFeaturesCol .featureCardImg {
  width: 134px;
  margin: auto;
  display: block;
}
.specialFeatures .specialFeaturesCol .featureCardTitle {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 170.69%;
  text-align: center;
  color: #ffffff;
  margin: 20px auto;
}

.specialFeatures .specialFeaturesCol .featureCardDesc {
  font-weight: 400;
  font-size: 18px;
  line-height: 170.69%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}
.specialFeatures .specialFeaturesCol .featureCardLabel {
  font-weight: 400;
  font-size: 18px;
  line-height: 170.69%;
  text-align: center;
  text-decoration-line: underline;
  color: #2e2e2e;
  display: block;
}

/* Doctors On Call  */
.doctorsOnCallContainer {
  margin-bottom: 110px;
}
.doctorsOnCallContainer .onCallDesc {
  margin-top: 112px;
  text-align: center;
}
.onCallDesc .onCallDesTitle {
  font-weight: 800;
  font-size: 40px;
  line-height: 170.69%;
  text-align: center;
  color: #2e2e2e;
}
.onCallDesc .onCallDescContent {
  font-weight: 400;
  font-size: 18px;
  line-height: 170.69%;
  text-align: center;
  color: #737373;
}
.doctorsOnCallContainer .row {
  margin-top: 88px;
}
.infoCol .department {
  margin-bottom: 40px;
}
.infoCol .department .departmentName {
  font-weight: 600;
  font-size: 18px;
  line-height: 170.69%;
  color: #2e2e2e;
}
.infoCol .department .departmentDesc {
  font-weight: 400;
  font-size: 18px;
  line-height: 124.69%;
  color: #737373;
}
.onCallImage .welcomeImg,
.onCallImage .doctorsOncall {
  position: relative;
  width: 230px;
  height: 450px;
  top: 43px;
  left: 200px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 35;
}

.onCallImage .doctorsOncall {
  transform: rotate(2.03deg);
  top: 93px;
  left: 169px;
  z-index: 20;
  width: 235px;
  height: 400px;
}

.onCallInstruction {
  text-align: center;
}

.onCallInstruction label {
  font-weight: 400;
  font-size: 18px;
  line-height: 170.69%;
  text-align: center;
  color: #2e2e2e;
  margin-right: 19px;
}

.onCallInstruction button {
  padding: 4px 15px;
  background-color: #328ccc;
  border: none;
  border-radius: 15px;
  color: white;
}

/* Review Container */
.review {
  height: 597px;
  background: #0c84dc;
}
.reviewContainer .reviewContent {
  text-align: center;
  padding-top: 58px;
}
.reviewContainer .reviewContent .reviewTitle {
  font-weight: 800;
  font-size: 40px;
  line-height: 170.69%;
  color: #ffffff;
}
.reviewContainer .reviewContent .reviewDesc {
  width: 670px;
  margin: auto;
  font-weight: 400;
  font-size: 14.287px;
  line-height: 170.69%;
  color: #ffffff;
}

/* Reviewers Swipper  */
.swiper {
  width: 531px;
  height: 250.02px;
  background: #ffffff;
  border-radius: 20px;
  margin-top: 81px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviewContainer .reviwersProfileContainer {
  display: flex;
}

.reviwersProfileContainer .ReviewersImg {
  width: 70px;
  height: 70px;
}
.reviwersProfileContainer .reviewersProfile {
  margin-left: 23.8px;
}
.reviewersProfile .reviewersName {
  font-weight: 500;
  font-size: 15.8744px;
  line-height: 170.69%;
  text-align: center;
  color: #2e2e2e;
}
.reviewersProfile .reviewersPosition {
  font-weight: 400;
  font-size: 14.287px;
  line-height: 170.69%;
  text-align: center;
  color: #737373;
}
.reviewContainer .reviews {
  font-weight: 400;
  font-size: 14.287px;
  line-height: 170.69%;
  color: #737373;
  width: 403px;
  height: 98px;
  text-align: left;
  margin-top: 19.38px;
}

/* Faq Section */
.faqContent {
  margin-top: 100px;
}
.faqContent .faqContentContainer .faqHeader {
  font-weight: 800;
  font-size: 40px;
  line-height: 170.69%;
  color: #2e2e2e;
}
.faqContentContainer .faqCollapse {
  margin-top: 33px;
  margin-bottom: 80.34px;
}

.faqCollapse .ant-collapse {
  background: none;
  border: none;
}
.faqCollapse .ant-collapse .ant-collapse-item {
  background: #ffffff;
  box-shadow: 0px 3.59137px 35.9137px rgba(0, 0, 0, 0.1);
  border-radius: 9.9568px;
  margin-bottom: 15px;
}

.ant-collapse-item .ant-collapse-header .ant-collapse-header-text {
  font-weight: 600;
  font-size: 15.9568px;
  line-height: 170.69%;
  color: #2e2e2e;
}
.ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-arrow
  svg {
  transition: transform 0.24s;
  color: blue;
  transform: rotate(-90deg);
}
.ant-collapse-item .ant-collapse-content {
  font-weight: 400;
  font-size: 16.1611px;
  line-height: 170.69%;
  color: #737373;
  background-color: #fff;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.faqImageContainer {
  position: relative;
  height: 640px;
  width: 640px;
  padding-top: 40px;
}
.faqImageContainer .faqFloorImage {
  position: relative;
  top: 223px;
  left: 43px;
}
.faqImageContainer .femaleFaq {
  position: absolute;
  left: 64px;
  top: 80px;
}
.faqImageContainer .faqQuestionImage {
  position: absolute;
  left: 252px;
}
.faqImageContainer .maleFaq {
  position: absolute;
  right: 21px;
  top: 80px;
}
